.grid_3
  &nbsp;
.grid_9.abount_content
  %p.title our mission
  %p 
    to go around the globe, travel through hyperspace, find a new worlds created by the minds of extraordinary people. to collect snapshots of everything we can record and present them to our readers: to find things that will get the attention, make them stop and notice something new. it’s not about screaming or surprising people — all this you can find in modern art museum. it’s not about scrolling through and meaningless sharing on social networks, people have plenty of this already. it’s about opening the imagination through the visual beauty of the world, of the moment. it’s about being mindful.

  %p.title why not you

  %p 
    if you are one people who knows how to stop time, or maybe you are multidimensional traveler, and you can make others forget their lives and dive into an imaginary world where earth is flat, where the sun is a cube, where the laws of physics don’t exist, we welcome you to join our project by submitting your works.


  %p.title for authors 

  %p 
    our magazine's main goal is to collect great pieces of artwork: illustrations, photography, designs, paintings, etc. we are interested in any kind and presentation of unique ideas; and their implementation. we want to make people stop scrolling and introduce them to your works, to make them see beyond the average idea of "art I don’t understand". 
    %br
    our digital version of the magazine is closed for download and we are doing our best to keep your works as secure as possible, yet still visible for others. every article always has the author's name and contact. we make sure that your copyright belongs to you and nobody else.
    %br
    also for your information, this magazine may be printed in the future for advertisement purposes only. it will be freely distributed at events, galleries, shows, etc. in other words: we are not making money from your art. if at any point of time in future we decide to change this, you will be informed and none of the changes will be made without your consent.
.grid_6
  &nbsp;