.grid_3
.grid_10.contact_content
  %script 
    $(function(){Contact.init();});

  - if flash[:notice].present?
    .flash
      = flash[:notice]

  = form_tag( send_contact_path, method: :post) do
    %input{type:"hidden", name:"notemail", id:"notemail" }
    %p
      %label email
      %input{type: "email", name:"email", placeholder: "", id: "email", required: true}


    %p
      %label what's up?
      %textarea{cols: 70, rows: 10, placeholder: "", required: true, name: "comments"}

    %p
      %input{type: "submit", value: "SEND", id: "submit_btn"}

.grid_3
