.grid_16.issuu_content
  .issuuembed{"data-configid" => "11690236/8226721", style: "width: 740px; height: 523px; float: middle;"}
  %script{async: "true", src: "//e.issuu.com/embed.js", type: "text/javascript"}