.subscription_block
  %script 
    $(function(){Subscription.init();});
  %h2 mailing list
  be the first to receive
  %br
  newest issue
  
  = form_tag( subscriptions_create_path, method: :post, id: "subscription_form") do
    %input{type:"hidden", name:"notemail", id:"notemail" }
    .input_block
      %input{type: "email", name:"email", placeholder: "email address", id: "email", required: true}
      %input{type: "submit", value: "", id: "submit_btn"}

  .clear

.subscription_message
  %h2 thank you
  we respect your trust 
  %br
  and promise to send 
  %br
  nothing but art
  %br
  %br
  .notes
    you can always unsubscribe 
    = link_to 'here', subscriptions_unsubscribe_static_path