.grid_16.center
  %h2 You successfully unsubscribed
  That means you will stop receving email updates on Yucca Magazine's new issues.
  %br
  %br
  %img{src: asset_path("annoyed_subscription.jpg"), width: '50%', height: '50%'}