.grid_16.center
  %h2 You successfully unsubscribed
  That mean you will stop receving email updates on your new issues of magazine.
  %br
  %br
  %img{src: '/assets/annoyed_subscription.jpg', width: '50%', height: '50%'}