body
  padding: 50px
  margin: 0px
  font-family: Hero-Light

@font-face 
  font-family: code-light
  src: url('/fonts/CODE Light.otf')

@font-face
  font-family: Monofett
  src: url('/fonts/Monofett.ttf')

@font-face
  font-family: Aller-It
  src: url('/fonts/Aller_It.ttf')

@font-face
  font-family: Hero-Light
  src: url('/fonts/Hero Light.otf')



.menu 
  a
    font-family: Aller-It
    font-size: 30px  
    color: #333
    text-decoration: none
    padding-right: 70px

.footer
  padding-top: 300px
  padding-bottom: 50px

.logo
  text-align: right
  h1
    font-family: Monofett
    font-size: 94px
    font-weight: normal
    padding: 0px
    margin: 0px
    letter-spacing: 7px
    line-height: 70px
    margin-right: -7px

  h2
    font-family: Aller-It
    font-size: 37px
    font-weight: normal
    margin-top: 5px
    margin-right: 7px


form
  label
    font-family: Hero-Light
    font-size: 20px
    display: block
    color: #5b5858    

  input
    border: 1px solid #ddd
    color: #000
    outline: none
    font-family: Hero-Light
    font-size: 20px
    width: 600px
    padding: 10px

  input:focus
    border: 1px solid #aaa

  textarea
    border: 1px solid #ddd
    color: #000
    outline: none
    font-family: Hero-Light
    font-size: 20px
    width: 600px
    padding: 10px

  textarea:focus
    border: 1px solid #aaa


  input[type=submit]
    width: 200px
    height: 50px
    font-family: Hero-Light
    font-size: 25px
    padding-top: 14px


.flash
  font-family: Hero-Light
  font-size: 25px
  color: #fff
  background-color: #aaa
  width: 600px
  text-align: center
  padding: 20px
  margin-bottom: 50px

.contact_content
  padding-top: 50px
  span
    line-height: 20px
    letter-spacing: 0.5px
  h2
    font-family: Aller-It
  input
    width: 425px
  textarea
    width: 425px
  input[type=submit]
    background-color: #333
    color: #fff
    font-size: 20px
    width: 150px
    height: 40px
    padding-top: 10px

  label
    font-size: 16px


.abount_content
  p.title
    font-weight: bold
    font-size: 25px
    font-family: Aller-It

  p
    line-height: 25px
    letter-spacing: 0.5px

.embed-links
  display: none

.issuuembed div div:last-child
  display: none

.issuu_content
  margin-left: 110px

.bottom
  text-align: center
  vertical-align: middle
  font-size: 9px
  color: #bbb

.center
  text-align: center

.subscription_block
  margin-top: 50px
  background-color: #f2f2f2
  padding: 10px
  text-align: center
  font-family: Hero-Light
  font-size: 14px
  height: 200px
  line-height: 18px

  h2
    font-family: Aller-It
    font-size: 25px
    font-weight: normal

  input
    width: 140px
    font-size: 14px
    vertical-align: top

  input[type=submit]
    display: inline
    width: 80px
    height: 37px
    font-family: Hero-Light
    font-size: 14px
    padding-top: 10px
    margin-top: 2px
    vertical-align: top
    text-align: middle
    background-color: #333
    color: #FFF

  input:disabled[type=submit]
    color: #DDD
    background-color: #666
  .notes
    font-size: 10px
    line-height: 12px

.subscription_message
  display: none
  margin-top: 50px
  background-color: #f2f2f2
  padding: 10px
  text-align: center
  font-family: Hero-Light
  font-size: 14px
  height: 150px

  h2
    font-family: Aller-It
    font-size: 25px
    font-weight: normal

  .notes
    font-size: 10px
    line-height: 12px

.unsubscribe
  input[type=submit]
    width: 100px
