body
  padding: 50px
  margin: 0px

@font-face 
  font-family: code-light
  src: url('/fonts/CODE Light.otf')

@font-face
  font-family: Monofett
  src: url('/fonts/Monofett.ttf')

@font-face
  font-family: Aller-It
  src: url('/fonts/Aller_It.ttf')

@font-face
  font-family: Hero-Light
  src: url('/fonts/Hero Light.otf')



.menu 
  a
    font-family: code-light
    font-size: 30px  
    color: #5b5858
    text-decoration: none
    padding-right: 50px


.logo
  text-align: right
  h1
    font-family: Monofett
    font-size: 50px
    font-weight: normal
    padding: 0px
    margin: 0px
    letter-spacing: 3px
    line-height: 33px

  h2
    font-family: Aller-It
    font-size: 20px
    font-weight: normal
    margin-top: 0px
    margin-right: 7px


form
  label
    font-family: Hero-Light
    font-size: 20px
    display: block
    color: #5b5858    

  input
    border: 1px solid #ddd
    color: #000
    outline: none
    font-family: Hero-Light
    font-size: 20px
    width: 600px
    padding: 10px

  input:focus
    border: 1px solid #aaa

  textarea
    border: 1px solid #ddd
    color: #000
    outline: none
    font-family: Hero-Light
    font-size: 20px
    width: 600px
    padding: 10px

  textarea:focus
    border: 1px solid #aaa


  input[type=submit]
    width: 200px
    height: 50px
    font-family: Hero-Light
    font-size: 25px


.flash
  font-family: Hero-Light
  font-size: 25px
  color: #fff
  background-color: #aaa
  width: 600px
  text-align: center
  padding: 20px
  margin-bottom: 50px

.contact_content
  padding-top: 50px