%table{style:"font-family: arial; text-align: center;", width: "100%", cellpadding:0, cellspacing:0, border:0}
  %tr
    %td{colspan: "3"}
      = yield

  %tr{style: "height: 40px"}
    %td
    %td
    %td
  %tr{style: "background-color: #f9f9f9;height: 40px;"}
    %td
    %td{style: "padding: 20px;", valign: "middle"}
      love.create.inspire.
      %br
      yuccamagazine.com
    %td
  %tr{style: "background-color: #f9f9f9;height: 40px;"}
    %td{width: "10%"}
    %td{width: "80%", style:"padding: 0px 20px;padding: 10px;"}
      %a{href: "https://www.facebook.com/yuccamagazine", target: "_blank", style:"text-decoration: none;"}
        %img{src: "http:#{asset_path('FB_bw.png')}", alt: "Facebook"}
      &nbsp;
      &nbsp;
      &nbsp;
      %a{href: "http://yuccamagazine.tumblr.com", target: "_blank", style:"text-decoration: none;"}
        %img{src: "http:#{asset_path('Tumblr_bw.png')}", alt: "Tumblr"}
      %br
      %br
      %br

    %td{width: "10%"}
  %tr{style: "background-color: #f9f9f9; height: 40px"}
    %td{width: "10%"}
      &nbsp;
    %td{width: "80%", style: "padding: 20px;", valign: "top"}
      You can unsubscribe
      = link_to "here", subscriptions_unsubscribe_url(email: @base64_email)
    %td{width: "10%"}
      &nbsp;
:css
  body{
    font-family: Arial
    font-size: 14px
  }